body{
    margin: 0%;
    padding: 0%;
}

.header{
    width: 100%;
    max-width: 100vw;
    height: 9%;
    position: fixed;
    top: 0;
    background-color: white;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.head{
    width: 100vw;
    display: flex;

}
.head nav{
margin: auto;
display: none;
}

.logo{
    width: auto;
    color: black;
    display: flex;
}
.logo img{
    width: 45px;
    height: 50px;
    padding-left: 1%;
    padding-top: 1%;
}
.name h1{
    font-size: 1.5rem;
    margin-top: 9%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.name p{
    letter-spacing: 2px;
    padding-top: 0%;
    margin-top: 0%;
    font-family: 'Trebuchet MS';
}

.home{
    width: 100vw;
    height: 28vh;
    margin-top: 55px;
    background-color: black;
    background-image: url('Images/1.avif');
    background-size: cover;
    background-repeat: no-repeat;
}
.home h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin-left: 7.5%;
    padding-top: 7.5%;
    margin-bottom: 5px;
}
.home p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 7.5%;
    margin-top: 0%;
    padding-top: 0%;
}